[Unit]
Description=Freshclam Update  in nethgui
Requisite=httpd-admin.service

[Service]
Type=simple
ExecStart=/usr/libexec/nethserver/freshclam-nethgui
